.board-container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  .board-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    // background: rgba($color: #000, $alpha: 0.5);
    backdrop-filter: blur(6px);
  }
  .board-close {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
  }
  .board-main {
    position: relative;
    z-index: 9999;
    width: 600px;
    height: 400px;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }
}
